<ion-view view-title="{{navTitle}}" cache-view="false" >   
  <ion-content>
		<div class="availebleLogo" align="center">
        	<div>
            	<img src="img/logo.png" style="width:100%;" />
            </div>
        </div>
        
        <div class="availebleIcon" align="center" style="margin-bottom:10px;">
        	<div>
            	<img ng-if="isAvaileble == 0" src="img/Avail.png" style="width:100%;" ng-click="availebleClicked(0)" />
                <img ng-if="isAvaileble == 1" src="img/notavail.png" style="width:100%;" ng-click="availebleClicked(1)"/>
            </div>
        </div>
      <div class="list" style="
	  
    position: fixed;
    
    width: 100%;
    /* box-shadow: 0 -5px 14px 0px rgba(0, 0, 0, 0.18); */
">

 
	<button class="button button-block button-positive" ui-sref="app.editprofile()" href="#/app/editprofile" style="
    background-color: #2cabce;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-top: 2px solid #61b5cf;font-weight: 700;

    box-shadow: 0 -5px 12px 0px rgba(0, 0, 0, 0.14);
">
	  עריכת פרטי עסק 
	</button>
	

 
	<button class="button button-block button-positive" ui-sref="app.working()" href="#/app/working" style="
    background-color: #2cabce;
    border-radius: 0px;
    padding: 0px;
    margin-top: 0px;font-weight: 700;

    border-top: 2px solid #61b5cf;
">
	  ניהול זמינות
	</button>


		
		
		
	</div>
  </ion-content
  >
</ion-view>
