<ion-view style="background-color: transparent;">

	<div style="width:100%; ">
		<div style="float:left;" ng-click="msgWhatsapp()">
		<img src="img/whatsapp.png" style="width:100px; height:100px;">
		</div>
		<div style="float:right;" ng-click="msgSms()">
		<img src="img/sms.png" style="width:100px; height:100px;">
		</div>
	</div>

	<div class="footerComment" ng-click="closeContact()">
		<div>
			<img src="img/ok.png" style="width:100%"/>
        </div>
  </div>
</ion-view>