<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
  <ion-content>
  
	<div class="list" >

    	<div style="width:100%; margin-top:60px;" align="center">
              <label class="" >
                <img src="{{defaultPicture}}" style="width:140px;  border-radius:0px; border:1px solid #61b5cf ">
              </label>
			<div align="center">
				<p>{{fields.name}}</p>
			</div>
		</div>

		
        <div class="mainPageLogIn mt30" align="center" style="margin-top:60px !important;">
            <div>
                <div style="    width: 40px;margin-top: 8px;position: absolute;left: 39px;opacity:0.9" >
        	  <img src="img/camera_icon.png" style="width:100%" ng-click="imageOptions()"  />
		</div>
                <input type="text" ng-model="fields.name" placeholder="הכנס שם"  />
            </div>
            
            <div class="mt15">
                <input type="tel" ng-model="fields.phone" placeholder="הכנס מספר טלפון"  />
            </div>
            
            <div class="mt15">
                <input type="text" ng-model="fields.address" placeholder="הכנס כתובת העסק"  g-places-autocomplete force-selection="true" options="autocompleteOptions"  ng-blur="addressData()"/>
            </div>
		</div>
		


        <div class="mainPageLogIn" align="center">
            <div>
                <input type="text" ng-model="fields.website" placeholder="הכנס אתר אינטרנט"  />
            </div>
            
            <div class="mt15">
                <input type="text" ng-model="fields.facebook" placeholder="הכנס כתובת פייסבוק"  />
            </div>
            
            <div class="mt15">
                <textarea rows="8" cols="100" placeholder="קצת פרטים על העסק שלך"  ng-model="fields.desc"></textarea>
            </div>
            



		
      <div style="   " align="center">
		<label class="item item-input item-select" style="    height: 53px;margin-top:20px; border-radius:0px; border:1px solid #61b5cf;">
		   <div class="input-label" style="color:white !important">
			  
		   </div>
			
		   <select ng-model="fields.category">
		   <!-- ng-repeat="item in Catagories" -->
		   <!-- ng-repeat="(key, value) in Catagories" -->
			<option value="{{item.index}}" ng-repeat="item in Catagories"  >{{item.name}}</option>
		   </select>
		</label>
     </div>		
		
            <div class="mt15" ng-click="saveProfile()">
                <img style="    width: 200px;" src="img/ok.png">
            </div>

			
		
	</div>		
		
		
		
	</div>

          	
		
		  
  </ion-content>
</ion-view>
