<ion-view view-title="{{NavTitle}}"  hide-back-button="false" style="     background-color: #e7eff2; ">
  <ion-content>
  
	<div class="list" >

        <div style="
    text-align: center;
    font-size: 19px;
    color: #61b5cf;
    direction: rtl;
    margin-top: 35px;
">
            כי אם לא כאן, איך נשמור על  קשר?
        </div>
        <div class="mainPageLogIn mt30" align="center" style="margin-top:20px !important;">

            <div class="mt15">
                <input type="text"   placeholder="שם מלא"  ng-model="contact.name">
            </div>
            
            <div class="mt15">
                <input type="text"   placeholder="כתובת מייל" ng-model="contact.email">
            </div>
            


            <div class="mt15">
                      <input type="text"   placeholder="נושא"  ng-model="contact.subject">
            </div>

            <div class="mt15">
                <textarea rows="8" cols="100" placeholder="מלא תוכן הפניה"  ng-model="contact.desc"></textarea>
            </div>

			
			
		</div>	  
        


		<div class="mainPageLogIn" align="center" ng-click="sendContact()">
				<div class="mt30">
					<img src="img/next_login.png" style="width:100%"   />
				</div>
		</div>
	</div>

          	
		
		  
  </ion-content>
</ion-view>
