<ion-view view-title="">
  <ion-content>

  <div>
	  <div>Name : {{SupplierData.name}}</div>
	  <div>Phone : {{SupplierData.phone}}</div>
	  <div>Address : {{SupplierData.address}}</div>
  </div>
  
  
  
  </ion-content>
</ion-view>
