<ion-view view-title="{{navTitle}}" cache-view="false" hide-back-button="true">
  <ion-content style="background-color:#e7eff2; overflow:hidden" >
  <!-- ng-class="selectedCategory == 1 ? categoryButton : categoryButtonSelected" -->
  			<div style="    height: 95px;    border-bottom: 6px solid #3b7791;background-color: #61b5cf;">
                  <ion-scroll direction="x" class="wide-as-needed" delegate-handle="daysScroll" style="    box-shadow: 0 -2px 13px 0px rgb(0, 0, 0);position: relative;z-index: 2;">
                    <a ng-click="setCatagory(item.index)" ng-class="selectedCategory == item.index ? 'button categoryButtonSelected' : 'button categoryButton'"   ng-repeat="item in categories">
                    		<img src="{{phpHost}}/{{item.image}}" style="width:65px; margin-top:10px; margin-left:0px; " />
                        	<p class="titleClass">{{item.name}}</p>
                    </a>
                  </ion-scroll>
				  
			<div class="chooseCatPopUp" style="" ng-if="enterMainScreen" class="">
			    <img class="chooseCatPopUpImage" src="img/popup-slide.png" style="">
            <div class="chooseCatPopUpTitle" style="">בחר קטגוריה</div>
			</div>

			
			</div> 
			

            
    <!--     <table style="width:100%;">
        	<tr style="width:100%;">
            		
                    <td ng-click="setCatagory($index)" class="categoryButton" ng-repeat="item in categories">
                        <img src="img/icons/i{{$index}}.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                        <p class="titleClass">{{item.name}}</p>
                	</td>
                
                
               <td ng-click="setCatagory(4)" class="categoryButton">
                	<img src="img/icons/i1.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                    <p class="titleClass">מובילים</p>
                </td>
                <td ng-click="setCatagory(1)" class="categoryButton">
                	<img src="img/icons/i2.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                    <p class="titleClass">ידי זהב</p>
                </td>
                <td ng-click="setCatagory(1)" class="categoryButtonSelected">
                	<img src="img/icons/i3.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                    <p class="titleClass">חשמלאים</p>
                </td>
                <td ng-click="setCatagory(5)" class="categoryButton">
                	<img src="img/icons/i4.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                    <p class="titleClass">שרברבים</p>
                </td>
            </tr>
        </table>-->
        
		<!-- <button class="button button-positive" ng-repeat="item in Catagories" ng-click="showSuppliers($index)">
		  {{item.name}}
		</button> height:60%; -->

		<div class="mapWrapper">
            <div id="map" data-tap-disabled="true" style=""></div>
		</div>
        <div ng-if="SuppliersData.length == 0 && showProfession == true" ng-click="openSearchModal()">
            <div class="infoPopUpCountNoPeople"  >הגדל את טווח החיפוש</div>
        </div>
		
		<div ng-if="SuppliersData.length == 0 && showProfession == true" align="center">
		<p style="       font-size: 20px;margin-top: 27px;height: 147px;">לא נמצאו תוצאות</p>
		</div>
		
		
		
		
	<!--	<div align="center" ng-show="showProfession">
		נמצאו {{suppliersCount}} אנשי מקצוע בקרבתך
		</div> -->
       
		

        <div class="mainPageLogIn1" align="center"  >	

		<!--
           		
          </ion-slide>
        </ion-slide-box>-->
		
		
		<div align="center" class="InfoPopUp2"   ng-show="!showFindPro" on-swipe-right="ChangeSupplier(1)" on-swipe-left="ChangeSupplier(0)" on-swipe-up="moveInfoPopUpUp()" on-swipe-down="moveInfoPopUp()" ng-click="moveInfoPopUpUp1()" style="background-color:#e7eff2;">
        	<div class="infoPopUpCount"  >נמצאו {{suppliersCount}} אנשים</div>
        	<div id="infoPopUp"   style="width:100% !important; overflow:hidden !important;" >
            <div class="blueDiv" ></div> <!-- ng-show="Bar.open" -->
            
        <ion-slide-box class="infoPopUp_worker"  show-pager="false" on-slide-changed="slideHasChanged($index)" style="width:100% !important; margin-top:-1px; position:relative; z-index:1; overflow:hidden !important;">
          <ion-slide  ng-repeat="item in SuppliersData" style="width:100% !important; ">
              <div style="width:100%;  z-index:100; position:relative" ng-click="moveInfoPopUp()" align="right"> <!-- ng-show="Bar.open" -->
                <div style="width:20px;">
                    <img src="img/close.png" style="width:100%; right:20px; top:10px; position:relative" />
                </div>
            </div>
          <div class="InfoPopUp3">
        	<div class="InfoPopUp1">
            	<div class="infoRightButton" ng-click="ChangeSupplier(1)">
                	<img src="img/arrowr.png" style="width:100%" />
                </div>
                <div class="infoImgPopUp" ng-click="moveInfoPopUpUp()" style="float:right;  margin-top:10px; " align="center">
                    <div style="width:53%; margin-top:0px;">
                        <img src="{{phpHost}}/{{SupplierInfo.image}}" style="width:100%; border-radius:50%">
                    </div>
                </div>
                 <div class="infoLeftButton" ng-click="ChangeSupplier(0)">
                	<img src="img/arrowl.png" style="width:100%" />
                </div>
                <div class="infoDetailsPopUp" ng-click="moveInfoPopUpUp()" style="float:left; margin-top:10px;">
                    <p style="margin-top:0px; font-size:22px; "><b>{{SupplierInfo.name}}</b></p>
                    <p style="margin-top:-4px; font-size:16px; direction:rtl">{{SupplierInfo.catagoryname}} - {{SupplierInfo.dist| number: 1}} ק"מ </p>
                    <p style="margin-top:-10px; font-size:16px;" ng-if="popupDistance"></p>
                    
					
                    <table style="width:60%; margin-top:-6px;" align="right">
						<tr align="right" style="width:60%;" >
							<td  ng-repeat="n in [] | range:SupplierInfo.rating">
								<img src="img/fullstar.png" style="width:20px; margin-top:-3px; margin-left:3px;" />
							</td>
						</tr>
					</table>

													
					<!--
                    <table style="width:60%; margin-top:-6px;" align="right">
                        <tr align="right" style="width:60%;" >
                            <td>
                                <img src="img/fullstar.png" style="width:25px" />
                            </td>
                            <td>
                                <img src="img/fullstar.png" style="width:25px"/>
                            </td>
                            <td>
                                <img src="img/fullstar.png" style="width:25px"/>
                            </td>
                            <td>
                                <img src="img/fullstar.png" style="width:25px"/>
                            </td>
                            <td>
                                <img src="img/fullstar.png" style="width:25px"/>
                            </td>
                        </tr>
                    </table>
					-->
                </div>
               
           
				</div>
			
			
		
		
			<p ng-show="!Bar.open" style="margin-top:0px; font-size:14px;  font-weight:100; text-align:right; padding-right:40px; padding-left:20px; direction:rtl; ">{{SupplierInfo.desc | limitTo: 100}}</p>
             
             <p ng-show="Bar.open" style="margin-top:0px; font-size:14px;  font-weight:100; text-align:right; padding-right:40px; padding-left:20px; direction:rtl; ">{{SupplierInfo.desc}}</p>
            
						<div class="buttonsPopUp" ng-show="Bar.open">
							<!--
							<span ng-click="openReviews()" style="color:#2095ff; font-size:18px; font-weight:bold">ביקורות &nbsp; / &nbsp; </span>
							-->
							<span ng-click="openPage(SupplierInfo.facebook)" style="color:#2095ff; font-size:16px;  font-weight:bold">פייסבוק <span style="    color: #a8a8a8;"> / </span> </span>
							<span ng-click="openPage(SupplierInfo.website)" style="color:#2095ff; font-size:16px;  font-weight:bold">אתר אינטרנט <span style="    color: #a8a8a8;"> / </span>  </span>
                            <span ng-click="commentModal()" style="color:#2095ff; font-size:16px;  font-weight:bold">כתוב ביקורת  </span>
							<span></span>
						</div>
						
                        
               <div ng-show="Bar.open" style="height:380px;">         
					<!--
					ng-show="showReviews"
					-->
            		<div   >
       
							<div align="left" hidden>
								<i ng-click="commentModal()"  class="ion-plus-round" style="font-size:20px;  margn-left:10px; padding:10px;"></i>
							</div>
	  
							<div class="AboutPopUp">
								<ion-scroll direction="y" style=" height: 250px">
								<div ng-repeat="item in Comments" >
                                	<div class="reviews">
									<div class="reviewsDetails">
                                    	<div class="reviewHeader">
                                        	
                                            
                                        	<div class="reviewHeaderLeft">

												
													<table style="width:60%; margin-top:0px;" align="right">
														<tr style="">
															<td  ng-repeat="n in [] | range:item.rating">
																<img src="img/fullstar.png" style="width:20px; margin-top:-3px; margin-left:3px;" />
															</td>
														</tr>
													</table>



					
												<div ng-click="reportComment(item.index)">
													<div  style="
														clear: both;
														margin-left: 13px;
														text-align: left;
														top: -1px;
														position: relative;
													">
													 דווח
												</div>
                                                <span style="font-size:12px; position: absolute;margin-top: -21px;">{{getReviewDate(item)}}</span>
												</div>
												
                                            </div>
                                            

                                            
                                            <div class="reviewHeaderRight">
                                            	<p style="direction:rtl; text-align:right"><span style="font-size:14px; font-weight:bold;">{{item.username}}</span>   </p>
                                            </div>
											
                                        </div>
										<p style="margin-top:2px;">{{item.text}}</p>
									
									</div>
									<div class="reviewsImage" align="center">
										<div ng-if="item.facebookid" style="width:60%">
											<img  src="https://graph.facebook.com/{{item.facebookid}}/picture?type=normal" style="width:100%;    margin-top: 12px;">
										</div>
										<div ng-if="!item.facebookid" style="width:60%">
											<img  src="img/avatar2.png" style="width:100%;    margin-top: 12px;">
										</div>	
								    </div>							
								</div>
                                <div class="greyLine"></div>
                                </div>
							 </ion-scroll>	
							</div>
						</div>
                   </div>
						
						

						
						
						
					<!--	<div style="width:100%; overflow:hidden; margin-top:15px" align="center" ng-show="Bar.open">
						<div style="width:90%; overflow:hidden; margin-top:25px" align="center">
							<div style="float:left; width:48%" ng-click="startChat()">
								<img src="img/chat.png" style="width:100%"/>
							</div>
							<div style="float:right; width:48%" ng-click="dialPhone(SupplierInfo.phone)">
								<img src="img/call.png" style="width:100%"/>
							</div>
						</div>
					</div>-->
						
					
					</div>
            	</div>	
                </div>
                <div style="width:100%" align="center">
                    <div class="footerStructure" ng-click="getSuppliers()" ng-show="showFindPro" >
                        <img src="img/pro.png" />
                    </div>
				</div>
	
			
			</div>
			 </ion-slide>
        </ion-slide-box>
			
        </div>

		<!-- <div class="list list-inset">
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search">
		  </label>
		</div> -->

		
		
		<!--
		<div ng-if="showHidden == 1">
		<ion-list>
		  <ion-item ng-repeat="item in dataInfo" ng-click="navigateDetails($index)">
			{{item.name}}
		  </ion-item>
		</ion-list>
		
		</div>
		-->

         

		  
  </ion-content>
  
  <ion-footer-bar align-title="left" style="background-color:#e7eff2; height:90px;    border-top: 0px solid #2ba9d2;padding-top: 13px;" ng-if="Bar.footerOpen">
		<div  ng-click="startChat()">
			<img src="img/chat.png" style="/* width:100%; */width: 80%;float: left;margin-left: 19px;">
        </div>
        <div  ng-click="dialPhone(SupplierInfo.phone)">
           <img src="img/call.png" style="width: 80%;float: right;margin-right: 19px;">
        </div>
  </ion-footer-bar>


</ion-view>


