<ion-view view-title="{{navTitle}}" style="     background-color: #e7eff2; ">
  <div class="bar bar-subheader" style="width:100%; padding:0 !important; margin:0 !important; height:30px; margin-top:-5px; background-color:#3b7791;">
       <img src="img/bdetails.png" style="width:100%"   />
  </div>
        
  <ion-content>
	<div class="list" ng-if="formStep == 1">
    	
        
        <div class="mainPageLogIn mt30" align="center" style="margin-top:60px !important;">
            <div>
                <div style="    width: 40px;margin-top: 8px;position: absolute;left: 39px;opacity:0.9" >
        	  <img src="img/camera_icon.png" style="width:100%" ng-click="imageOptions()"  />
		</div>
                <input type="text" ng-model="fields.name" placeholder="הכנס שם"  />
            </div>
            
            <div class="mt15">
                <input type="tel" ng-model="fields.phone" placeholder="הכנס מספר טלפון"  />
            </div>
            
            <div class="mt15">
                <input type="text" ng-model="fields.address" placeholder="הכנס כתובת העסק"  g-places-autocomplete force-selection="true" options="autocompleteOptions"  ng-blur="addressData()"/>
            </div>
		</div>	  
        

      <div style="    width: 88%;margin-left: 9%; " align="center">
		<label class="item item-input item-select" style="    height: 53px;margin-top:20px; border-radius:100px;border: 2px solid rgba(97, 181, 207, 0.58);">
		   <div class="input-label" style="color:white !important">
			  
		   </div>
			
		   <select ng-model="fields.category">
		   <!-- ng-repeat="item in Catagories" -->
		   <!-- ng-repeat="(key, value) in Catagories" -->
			<option value="{{item.index}}" ng-repeat="item in Catagories"  >{{item.name}}</option>
		   </select>
		</label>
     </div>
	<div class="mainPageLogIn" align="center" ng-click="changeStep()">
            <div class="mt30">
                <img src="img/next_login.png" style="width:100%"   />
            </div>
    </div>
	</div>

	<div class="list" ng-if="formStep == 2">
    	<div style="width:100%; margin-top:60px;" align="center">
              <label class="" >
                <img src="{{defaultPicture}}" style="width:140px;  border-radius:0px; border:1px solid #61b5cf ">
              </label>
			<div align="center">
				<p>{{fields.name}}</p>
			</div>
		</div>
        <div class="mainPageLogIn" align="center">
            <div>
                <input type="text" ng-model="fields.website" placeholder="הכנס אתר אינטרנט"  />
            </div>
            
            <div class="mt15">
                <input type="text" ng-model="fields.facebook" placeholder="הכנס כתובת פייסבוק"  />
            </div>
            
            <div class="mt15">
                <textarea rows="8" cols="100" placeholder="קצת פרטים על העסק שלך"  ng-model="fields.desc"></textarea>
            </div>
            

		</div>	  
		 <div class="mainPageLogIn" align="center" ng-click="changeStep()">
        <div class="mt30">
            <img src="img/next_login.png" style="width:100%"   />
        </div>
    </div>
	</div>

	
	<div class="list" ng-if="formStep == 3">

		<div align="center" style="width:100%; margin-top:50px;" align="center">
        	
             <div align="center" style="width:50%" align="center">
           	 <img src="img/codetext.png" style="width:100%">
            </div>
            
            
           
		</div>
        <div class="mainPageLogIn" align="center">
            <div>
                <input type="tel" ng-model="fields.verifycode" placeholder="הכנס קוד"  style="border:1px solid #f77289" />
            </div>
		</div>
		
		
		 <div class="mainPageLogIn" align="center" ng-click="changeStep()">
        <div class="mt30">
            <img src="img/sendbtn.png" style="width:100%"   />
        </div>
    </div>
    	<div align="center" style="margin-top:10px;" ng-click="sendSMSCode()">
			 <img src="img/send_again.png" style="width:30%"   />
		</div>
	</div>

	
	<div class="list" ng-if="formStep == 4">

       <div align="center" style="width:100%; margin-top:50px;" align="center">
        	
             <div align="center" style="width:80%" align="center">
           	 <img src="img/con1.png" style="width:100%">
             <img src="img/con2.png" style="width:100%">
            </div>
            
            
           
		</div>
  <div class="mainPageLogIn" align="center" ng-click="changeStep()">
        <div class="mt30">
            <img src="img/next_login.png" style="width:100%"   />
        </div>
    </div>

	</div>
	
	 <!-- <div class="padding" ng-click="sendProvider()">
        <button class="button button-block button-positive">Submit</button>
      </div> -->
	  
      <!--
	  ng-click="sendProvider()"
	  -->
      

		
  </ion-content>
</ion-view>
