<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content style="    background-color: #e7eff2;">
  

  	<div class="mainPageLogo" align="center">
    	<div>
        	<img src="img/logo.png" style="width:100%"   />
        </div>
    </div>
    
    <div class="mainPageLogIn" align="center">
        <div>
            <input type="text" placeholder="הכנס שם" ng-model="registerfields.name" />
        </div>
        <div  class="mt15">
            <input type="text" placeholder="הכנס אימייל" ng-model="registerfields.email" />
        </div>
                
        <div class="mt15">
            <input type="password" placeholder="הכנס סיסמא" ng-model="registerfields.password" />
        </div>

        <div class="mt30" ng-click="registerUser()">
            <img src="img/next_login.png" style="width:100%"   />
        </div>


        
    
        <!-- <button class="button button-block button-positive" ng-click="EmailLoginBtn()">
          Email
        </button>
    
        <div class="mt30" ui-sref="app.loginoptions()">
            <img src="img/next.png" style="width:100%"   />
        </div> --> 
    </div>


	
	
		  
  </ion-content>
</ion-view>
