<ion-view style=" ">

    <div style="background-color:white">
    	<img src="img/comment_pop_up_header.png" style="width:100%;" />
    </div>
    <div class="popupRate">
    	<div class="popupRateRight">
        	דיווח
        </div>

		
        <div class="textAreaComment" align="center">
        	<div>
        	 	<textarea rows="4" cols="50" placeholder="מלא את סיבת הדיווח" ng-model="fields.reporttext" ></textarea> 
            </div>
        </div>
    </div>
	<div class="footerComment" ng-click="sendReport()">
		<div>
			<img src="img/ok.png" style="width:100%"/>
        </div>
  </div>
</ion-view>


