<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
  <ion-content>
  
<div>
  <img src="img/1bg.png" style="width:100%;">
  <img src="img/2bg.png" style="width: 85px;position: absolute;top: 40px;right: 26px;">
  <div class="infoTitle"  style="">
    תנאי שימוש
  </div>
  <div class="infoDescription" style="">
    <div title="Page 1" id="section1">
    <div>
        <div>
            <p>
                תנאי שימוש באפליקציה
            </p>
        </div>
    </div>
    <div>
        <div>
            <p>
                1. כללי
            </p>
            <p>
                1.1 חברת "הוא כאן" בע"מ הינה מפתחת האפליקציה "הוא כאן" (להלן: "האפליקציה"). חברת "הוא כאן" יחד עם מנהליה, עובדיה, בעליה ונושאי המשרה שלה תקרא
                להלן: החברה"
            </p>
            <p>
                1.1 אנא קרא תנאים אלה (להלן: "תנאי השימוש") בעיון ובקפידה, שכן הורדת האפליקציה ותחילת השימוש בה, בתכניה ובשירותיה מעידים על הסכמתך להיות כפוף
                לכל התנאים והכללים האמורים במסמך תנאי שימוש זה ללא כל הסתייגות
                <br/>
                ו/או תניה מצדך. אם אינך מסכים לתנאי השימוש של האפליקציה, אל תוריד את
            </p>
            <p>
                האפליקציה ואל תעשה בה שימוש לכל מטרה שהיא.
                <br/>
                1.1 באם הנך מתחת לגיל 18, אנא קרא תנאים אלה בעיון יחד עם הוריך או
            </p>
            <p>
                אפוטרופוס חוקי אחר. אם אינכם מסכימים לתנאי השימוש אל תוריד את האפליקציה, ואל תעשה בה שימוש לכל מטרה שהיא.
            </p>
            <p>
                1.1 החברה שומרת לעצמה את הזכות לעדכן את תנאי השימוש מעת לעת, לפי שיקול דעתה הבלעדי וללא צורך במסירת הודעה כלשהי מראש. תוקפו של שינוי תנאי מתנאי
                השימוש יחל מרגע פרסומו ב אפליקציה או באתר החברה (המוקדם
            </p>
            <p>
                מביניהם).
                <br/>
                1.1 יובהר כי תנאי השימוש חלים על השימוש באפליקציה ובתכנים הכלולים בה
            </p>
            <p>
                באמצעות כל מחשב או מכשיר תקשורת אחר כדוגמת טלפון סלולרי, מחשבי כף יד, מחשבים ניידים וכיוצא בזה. החברה אינה מתחייבת לכך שהאפליקציה והשירותים
                שהיא מספקת יהיו תואמים למכשיר התקשורת שברשותך.
            </p>
            <p>
                2. תהליך ההרשמה
            </p>
            <p>
                1.1 תהליך הרישום דורש ממך להכניס את כתובת הדואר האלקטרוני המעודכנת שלך ולבחור סיסמה אישית. הכתובת האלקטרונית יחד עם הסיסמה האישית אותה
                <br/>
                בחרת תשמש אותך לכניסה למשתמש הייחודי שלך באפליקציה. לחילופין, תוכל
            </p>
            <p>
                ליצור חשבון לאפליקציה באמצעות חשבון הפייסבוק/גוגל+ שלך. 1.1 הנך מתחייב לספק מידע אמיתי, מדויק, נכון ומלא אודותיך כפי שמתבקש בטופס הרישום
                לאפליקציה. כמו כן, הנך מתחייב לעדכן את המידע בעת הצורך במטרה
            </p>
            <p>
                לשמור על נכונותו ודיוקו לפי הצורך. 1.1 עליך להקפיד על מסירת פרטים נכונים בעת ההרשמה לאפליקציה ו/או לחשבון
            </p>
            <p>
                ועל עדכון האפליקציה ו/או החשבון בכל שינוי בפרטים.
                <br/>
                1.1 יתכן ורישומך לאפליקציה ולחשבון יהיה כפוף לתנאים נוספים, אשר אינם
            </p>
            <p>
                מפורטים בתנאי השימוש, שיפורסמו במסמכי האפליקציה ו/או באתר החברה. אינך מחויב למסור פרטים אלה אך דע לך כי לא תוכל לעשות שימוש באפליקציה ובחשבון
                הדורשים הרשמה לשירותים אלה ללא מסירת הפרטים הדרושים כאמור. הנתונים שתמסור בעת ההרשמה לחשבון ו/או לאפליקציה יישמרו במאגרי המידע של החברה. שימוש
                האפליקציה בפרטים אודותיך יהיה בכפוף למדיניות הפרטיות של החברה המהווה חלק אינטגרלי מתנאי השימוש. הנך אחראי באופן מלא לשימור סודיות הסיסמה ופרטי
                החשבון שלך. כל תוצאה של חשיפת פרטים אישיים, במתכוון או שלא במתכוון, תחול עליך בלבד והחברה לא
            </p>
            <p>
                תישא באחריות בקשר לכך. 1.1 במידה ותאבד את כתובת הדואר האלקטרוני ו/או הסיסמה שלך ללא אפשרות
            </p>
            <p>
                שיחזור, עלייך ליצור משתמש חדש, לא יהיה באפשרותנו לשחזר את המידע שיאבד לך ו/או לשאת באחריות בגין נזקים שעשויים להיגרם לך במקרה כזה.
            </p>
        </div>
    </div>
</div>
<div title="Page 2">
    <div>
        <div>
            <p>
                3. השירותים
            </p>
            <p>
                1.1 האפליקציה מספקת פלטפורמה דו-כיוונית להלן הנותנת למשתמשי האפליקציה האפשרות לאתר, לפרסם ולדרג ספקי שירותים, והנותנת לספקי השירותים האפשרות
                לשווק עצמם על פלטפורמת האפליקציה באמצעות יצירת פרופיל
            </p>
            <p>
                מסחרי. 1.1 האפליקציה משמשת כמנוע חיפוש וקבלת פרטים ומידע על ספקי השירותים
            </p>
            <p>
                הרשומים בה. רשימת ספקי השרותים מתעדכנת מעת לעת. פרטי ספקי השירותים המופיעים באפליקציה כולל שם, מספר טלפון, כתובת, תמונות/וידאו וכן כל מידע שבחר
                ספק השירותים לעלות לשימוש ולידיעת משתמשי
            </p>
            <p>
                האפליקציה מועלים על ידי ספקי השרותים ובאחריותם הבלעדי. 1.1 משתמשי האפליקציה יכולים לפרסם חוות דעת והמלצות על ספקי השירותים, בכלל זה כתיבת
                תגובות להמלצות. הצפייה בפרסומים פתוחה לכלל משתמשי
                <br/>
                האפליקציה. דירוג ספקי השירותים נקבע על פי דעותיהם האישיות של המשתמשים והאפליקציה אינה מספקת המלצות אישיות מטעם החברה והחברה
                <br/>
                אינה נוטלת אחריות ביחס לאיכות, מחיר או כל פרמטר אחר הנוגע לעבודה אשר
            </p>
            <p>
                תבוצע על ידי ספקי השירותים. 1.1 ככל שיהיו באפליקציה מאמרים ומדריכי קנייה הנכתבים על ידי אנשי מקצוע
            </p>
            <p>
                ואשר מאפשרים למשתמשי האפליקציה לקבל מידע בנושאים מגוונים ("מאמרים"), המידע המופיע במאמרים אלו הינו בגדר המלצה בלבד והסתמכותך עליהם או על חלקים
                מהם הינה על אחריותך האישית בלבד, והחברה לא תישא
            </p>
            <p>
                בכל אחריות לנזק, להוצאה ו/או לחסרון כיס שיגרמו לך כתוצאה מכך.
                <br/>
                1.1 החברה שומרת לעצמה את הזכות לערוך שינויים, להוסיף או לגרוע תכונות או מידע מהאפליקציה כפי שיידרש מעת לעת. החברה רשאית לסרב לפרסם תכנים,
                <br/>
                אשר לדעתה מפרים אחד או יותר מהתנאים של הסכם זה ו/או עלולים לפגוע
                <br/>
                באתר או בחברה או בצד שלישי כלשהו, החברה רשאית למחוק תכנים אלו בכל עת, ומבלי שתהיה חייבת במתן הודעה מוקדמת כלשהי. בכלל זה, החברה רשאית למחוק
                לבטל את ההמלצות או התגובות שיפורסמו באתר על ידי משתמשי
                <br/>
                האפליקציה, לשנות את מבנם, מראם וזמינותם של השירותים והתכנים שבהם
                <br/>
                וכן לא לפרסם חוות דעת ו/או תגובה או להסירן והכל ללא הודעה מוקדמת ועל
            </p>
            <p>
                פי שיקול דעתה הבלעדי של החברה.
            </p>
            <p>
                4. ספקי השירותים והתקשרות איתם
            </p>
            <p>
                1.1 האפליקציה אינה משמשת למכירות והחברה לא תחשב כמוכרת או כמציעה למכירה שירותים או מוצרים כלשהם. כל עסקה שתעשה בעקבות מודעה או מידע
                <br/>
                המתפרסמים באפליקציה או באמצעות קישור לאתר צד שלישי, אינה כוללת את
                <br/>
                החברה כצד בעסקה, ותסוכם ישירות בין המשתמש לבין המפרסם או ספק
            </p>
            <p>
                השירותים הנוגע בדבר.
                <br/>
                1.1 ספקי השירותים אינם מועסקים על-ידי החברה, הם אינם משמשים כנציגינו ו/או
            </p>
            <p>
                שלוחנו ואנו אינם משמשים כנציגיהם ו/או שלוחיהם. אנו משמשים כמתווך בלבד בין ספקי השירותים לבין המשתמשים ואיננו מעורבים, בין באופן ישיר ובין באופן
                עקיף, בעסקה שתתבצע, ככל שתתבצע, בין ספק השירותים הרלוונטי לבניכם ו/או לבין צד שלישי כלשהו, וכן בשירות הניתן על ידי ספקי השירותים
            </p>
            <p>
                בפועל.
                <br/>
                1.1 הנך מודע כי אתה האחראי הבלעדי לכל עסקה שתבוצע ו/או הסכם שייקשר בינך
            </p>
            <p>
                לבין ספק השירותים הרלוונטי.
                <br/>
                1.1 החברה ממליצה למשתמשים לנהוג כצרכנים נבונים וזהירים ולשקול בכובד ראש
            </p>
            <p>
                ובכל מקרה, טרם ביצוע פעולה כלשהי, לרבות התקשרות עם ספקי השירותים המוצגים באפליקציה ולרבות כל ביצוע פעולות רכישה בפלטפורמות צד שלישי כלשהן.
            </p>
        </div>
    </div>
</div>
<div title="Page 3">
    <div>
        <div>
            <p>
                4.4 על הצרכנים ככלל לעיין בזהירות ובקפידה בכל המידע שמציג או מפיץ אותו ספק שירותים על גבי האפליקציה או באתרו שלו, ובמידה והצד השלישי הינו ספק
                או מוכר מוצרים ו/או שירותים, יש לעיין בתנאי השימוש של הצד השלישי במידה
                <br/>
                וישנם. ספקי השירותים אליהם תחליט לפנות, הינם גורמים בלתי קשורים אל החברה אשר הציגו והתחייבו בפנינו כי להם הידע, הניסיון וההיתרים והרישיונות
                ההכרחיים במידה והם נדרשים, בכדי לספק את השירותים אותם הם מעוניינים לספק למשתמשים. למען הסר ספק, איננו מבצעים בדיקות נאותות כלשהן, ואיננו מבצעים
                בדיקות רקע שונות (לרבות בחינת רישיונות, תעודות הסמכה ו/או מסמכים אחרים) ואיננו מתחייבים כי ספקי השרתים מוסמכים, רשאים,
            </p>
            <p>
                ו/או מורשים לספק את השירותים כאמור.
            </p>
            <p>
                1.4 החברה לא תישא באחריות לשירותים ולמוצרים שיוצעו במודעות המתפרסמות באתר או באתרים אליהם הגעת באמצעות קישורים מהאפליקציה ולרכישות שיתבצעו
                באמצעות פרסומים אלו, והיא לא תיקח חלק במחלוקות אם וכאשר
            </p>
            <p>
                יתעוררו בין הצדדים השונים בעסקה.
            </p>
            <p>
                4. אופי התכנים באפליקציה
            </p>
            <p>
                1.1 הנך מצהיר כי בשימושך באפליקציה אתה מסכים כי האפליקציה כוללת מידע וחומרים שמוצגים "As Is" (כמות שהוא) ואין לראות במידע המסופק משום מתן
                <br/>
                התחייבות ו/או מצג, בין אם במפורש או, מכללא או מכוח כל דין, כלפיך או כלפי צד שלישי בנוגע לאיכות המידע, אמינותו, מידת הדיוק בו והתאמתו למטרה
            </p>
            <p>
                מסוימת כלשהי. פרופילים ו/או פרסומים של ספקי שירות לא יתפרשו כהצעה של החברה, כהבעת תמיכה, עידוד, הסכמה או מתן חסות של האתר, במפורש או במכללא,
                לתכנים ו/או לשירותים המוצעים על ידי המפרסמים באפליקציה.
            </p>
            <p>
                1.1 אנו מסתמכים, באופן מלא ומוחלט, על המצגים וההתחייבויות שסופקו לנו על- ידי ספקי השירותים וכן על המשובים הניתנים ע"י המשתמשים, לצורך הערכת
                מידת התאמתם של ספקי השירותים לצרכי המשתמשים.
            </p>
            <p>
                1.1 לאחר קבלת שירות כלשהו מאחד מספקי השירותים, עשויה להינתן לך האפשרות לדרג את ספק השירותים וכן לתת משוב על השירות שניתן על-ידו. התכנים אותם
                <br/>
                אתה מפרסם באפליקציה, ספק השירותים או משתמשי האפליקציה, יהיו על
            </p>
            <p>
                אחריותך בלבד.
                <br/>
                1.1 הנך מתחייב שכל התכנים המועלים על ידך נכונים ואינם פוגעים בזכויות צד
            </p>
            <p>
                שלישי וכי ידוע לך כי הם יהיו חשופים לכל משתמשי האינטרנט. החברה אינה אחראית לתכנים המפורסמים באפליקציה, לתגובות על התכנים ולכל נזק שייגרם לספק
                השירותים ו/או למשתמשי האפליקציה, ואתה תהיה אחראי לכל תביעה ו/או דרישה בגין טענה של הטעייה, גניבת עין, תביעות לשון הרע, פגיעה
            </p>
            <p>
                בזכויות צד ג' כלשהן בגין הפרסומים שפרסמת באפליקציה.
                <br/>
                1.1 החברה אינה אחראית לכל שינוי, תיקון, השמטה, חבלה, ונזק מכל סוג שהוא לתכנים אשר הועלו על ידי ספקי השירות ומשתמשי האפליקציה ו/או נכתבו במסגרת
                ההמלצות. ייתכן כי מסיבות טכניות שונות שאינן בשליטת החברה ישונו/ימחקו תכנים המפורסמים באפליקציה ו/או במסגרת ההמלצות והחברה
            </p>
            <p>
                לא תישא בכל אחריות בנדון.
            </p>
            <p>
                4.5 למען הסר ספק, יודגש שהחברה אינה אחראית ולא יישאו באחריות לכל נזק ישיר או עקיף, בין אם זה כלכלי/גופני/נפשי/אחר, אי-נוחות, אובדן, עוגמת נפש
                וכיוצא באלו, ישירות או עקיפות, שייגרמו למשתמשי האפליקציה ו/או לרכושם
                <br/>
                ו/או לכל צד שלישי ו/או לרכושם בשל שימוש באפליקציה ותכניה לרבות כתוצאה מתוכנות זדוניות ונגיפי מחשב ו/או הורדה של כל חומר מהאפליקציה
            </p>
            <p>
                ו/או תוכנה ו/או מידע שהורד ו/או הושג על ידי המשתמש בדרך כלשהי תוך שימוש באפליקציה.
            </p>
        </div>
    </div>
</div>
<div title="Page 4">
    <div>
        <div>
            <p>
                5. קישורים (לינקים) לאתרי צד שלישי
            </p>
            <p>
                4.1 לינקים הכלולים באפליקציה מאפשרים למשתמשים להיכנס לאתרים או שירותים של צדדים שלישיים. אתרים ושירותים אלה, לרבות של ספקי שירותים,
                <br/>
                אינם בשליטת החברה. החברה אינה אחראית לזמינות שלהם, אינה מקנה להם חסות, אינה אחראית לכל תוכן (לרבות פרסומות, מוצרים ומידע אחר) המופיע בהם או
                הזמין דרכם (לרבות לינקים הכלולים בהם), ואינה אחראית למדיניות
            </p>
            <p>
                הפרטיות או לפרקטיקות אחרות המופיעות בהם או הנהוגות על ידי צדדים שלישיים אלה.
            </p>
            <p>
                4.1 כניסתך ושימושך בכל אתר, שירות, או תוכן המוצע על ידי צד שלישי המקושר לאפליקציה כאמור, וכל התקשרות בינך לבין צדדים שלישיים אלה הנם
                <br/>
                באחריותך הבלעדית לרבות הוצאות הקשורות בכך.
            </p>
            <p>
                4.1 ידוע לך כי כל מידע מכל סוג שהוא באתרים המקושרים כאמור, לרבות מידע מסחרי, אין לחברה שליטה עליהם ויתכן שהמידע בהם שגוי/חסר/חלקי/בלתי
                <br/>
                מוסרי/בלתי חוקי.
            </p>
            <p>
                4.1 השירותים יסופקו או שהגישה אליהם תתאפשר באופן הקשור לשירותים ולתכנים של צד שלישי שאינם בשליטתם של החברה. הנך מאשר כי תנאי שימוש ומדיניות
                פרטיות שונים עשויים לחול, המסופקים על ידי צדדים שלישיים.
                <br/>
                החברה אינה תומכת בשירותים ותכני צד שלישי אלה, ובשום מקרה היא לא
            </p>
            <p>
                תישא באחריות או בחבות בגין כל מוצר או שירות של ספקי צד שלישי אלה.
                <br/>
                4.1 הנך מסכים ומאשר כי החברה לא תהיה אחראית, במישרין או בעקיפין, לכל נזק או הפסד שייגרם כתוצאה משימוש או התקשרות בכל שירות, תוכן, מוצר או
            </p>
            <p>
                מידע אחר הזמין באמצעות קישורים אלה.
            </p>
            <p>
                7. תכנים אסורים ושימוש בלתי נאות
            </p>
            <p>
                1.1 בעשותך שימוש באפליקציה ובמסגרת מסירת תכנים לפרסום באפליקציה, לרבות דירוגים והמלצות, חלה עליך האחריות המלאה והבלעדית לכל תוצאה
                <br/>
                אשר עשויה לנבוע מכך.
            </p>
            <p>
                1.1 לאור האמור לעיל, הנך מנוע מלפרסם באפליקציה תכנים בלתי חוקיים, תכנים שנועדו למטרות בלתי חוקיות, תכנים בעלי אופי מיני, מאיימים, גזעניים,
                מוציאת דיבה ולשון הרע, בלתי מוסריים, מעודדים לביצוע עבירות פליליות או אזרחיות, פוגעים בפרטיות, המפרים הוראות צנזורה, תכנים מזיקים, פוגעים
                ברגשות הציבור ו/או שעלול לפגוע באוכלוסייה כלשהי. בכלל זה תכנים אשר מהווים
            </p>
            <p>
                הפרה של חוק, וכן כל תוכן שעלול לפגוע בשם הטוב של ספקי השירותים ו/או צד שלישי כלשהו.
            </p>
            <p>
                1.1 אסור להעלות תכנים העלולים להוות הטעייה ו/או כל תוכן הידוע למשתמש כשקרי, מטעה או מסולף, תכנים הפוגעים בפרטיות, תכנים אשר זכויות הקניין
                <br/>
                הרוחני בהם אינן שייכות לך, תכנים שמהווים "דואר זבל" או משלוח המוני מכל סוג שהוא שלא על פי בקשת/רצון הנמענים, לרבות מכתבי שרשרת או משחקי
            </p>
            <p>
                פירמידה למיניהם, תכנים המהווים שיתוף קבצים אסור או שמוגן על ידי זכויות יוצרים.
            </p>
            <p>
                1.1 הנך מתחייב כי אין במידע המפורסם על ידך כל פגיעה בזכויות קניין, תכנים בעלי אופי מסחרי ו/או המכילים מידע פרסומי כלשהו ו/או כל תוכן המזהה
                אישית אנשים אחרים מבלי שנתנו את הסכמתם לפרסום זהותם.
            </p>
            <p>
                1.1 על משתמשי האפליקציה לבדוק שאין התכנים המפורסמים על ידם מכילים תוכנות זדוניות מכל סוג שהוא.
            </p>
            <p>
                1.4 תכני האפליקציה מבוססים על מידע באחריותו של ספק השירותים וכן המלצות וחוות דעת של משתמשים. ייתכן ותמצא מידע כבלתי הולם את צרכיך/מתנגד
                <br/>
                לתוכנם. יודגש כי אין ביכולתה של החברה לשלוט במידע שמוצג או מופץ על ידי אחר ולא תהא החברה ו/או מי מטעמה אחראים לנזק כלשהו שייגרם למשתמש ו/או צד
                שלישי כלשהו עקב החשיפה למידע פוגע כלשהו והחברה מסירה מעצמה
            </p>
        </div>
    </div>
</div>
<div title="Page 5">
    <div>
        <div>
            <p>
                כל אחריות לכל התוכן ו/או מידע הנכלל בכל תוצאת חיפוש באפליקציה ו/או של כל משתמש.
            </p>
            <p>
                1.1 קיימת מערכת דיווח נוחה לשימוש, באמצעותה תוכל לדווח על ניצול לרעה של האפליקציה וכל הפרה של תנאי שימוש אלה. באחריותך לדווח על תוכן לא נאות
                <br/>
                ו/או שימוש לא ראוי ו/או ספקי שירות ומשתמשים אחרים המפרים את תנאי
                <br/>
                השימוש או כל תוכן לא ראוי אחר. החברה אינה מתחייבת להסיר מידע עליו
            </p>
            <p>
                התקבל דיווח כתוכן לא ראוי, אופי הטיפול יהיה לשיקול דעתה הבלעדי של החברה בלבד.
            </p>
            <p>
                1.8 החברה או מי מטעמה שומרים לעצמם את הזכות לתבוע משתמש שהעלה תוכן אסור כאמור לאתר. אי עמידתך בתנאי פסקה זו חושפת אותך לאחריות פלילית ו/או
                אזרחית ותהיה צפוי לעונשים הקבועים בחוק בשל הפרתם.
            </p>
            <p>
                1.7 החברה שומרת לעצמה את הזכות לחסום את גישתך, להשעות, לבטל או לסרב לספק את השירות הניתן לך על ידי באפליקציה, בכל מקרה בו החברה תהא סבורה
                שהמידע שמסרת אינו אמיתי, מעודכן, שלם או נכון בזמן הרישום
            </p>
            <p>
                ולאחריו או מכל סיבה שהיא על פי שיקול דעתה הבלעדי של החברה.
                <br/>
                1.17 לאור האמור לעיל וכתנאי לשימוש באפליקציה, הנך מתחייב ומצהיר כי לא תעשה בשירות כל שימוש המנוגד לכל דין או להוראות, לתנאים ולכללים
                <br/>
                המופיעים במסמך תנאי שימוש זה. השימוש בשירות כפוף לכל חוק ותקנה והנך
                <br/>
                בלבד תהיה אחראי לכל מעשה ו/או מחדל אשר ייעשה באמצעות חשבונך ו/או
                <br/>
                סיסמתך ו/או החומרה ו/או התוכנה שברשותך, ובכלל זה לתוכן המסרים ו/או
            </p>
            <p>
                הקבצים ו/או המידע שתעביר באמצעות השימוש באפליקציה.
            </p>
            <p>
                8. הגבלת אחריות
            </p>
            <p>
                8.1 התכנים והשירותים המוצעים באפליקציה נועדו לספק אינפורמציה בלבד ואינם בגדר עצה, המלצה או חוות דעת מקצועית הניתנת על ידי החברה ואינם בגדר
                תחליף להתייעצות עם איש מקצוע. החברה אינה מתחייבת לבצע בירורים
                <br/>
                ובדיקות עצמאיות לגבי איכות השירותים, רמתם, רישיונותיהם וכל פרמטר אחר של ספקי השירותים. ההמלצות המופיעות באפליקציה אינם מנוטרות או נבדקות
            </p>
            <p>
                אלא מועברות על ידי משתמשי האפליקציה, החברה אינה ממליצה להתקשר עם ספק שירותים מסוים אלא מעבירה מידע המבוסס על הדירוגים של משתמשי האפליקציה.
            </p>
            <p>
                8.1 בשימוש באפליקציה הנך מבין כי דירוג ספקי השירותים נקבע על פי דעותיהם האישיות של המשתמשים והאפליקציה אינה מספקת המלצות אישיות מטעם
                <br/>
                החברה ואינה נוטלת אחריות, לא במפורש ולא במשתמע, ביחס לאיכות, מחיר או
            </p>
            <p>
                כל פרמטר אחר הנוגע לעבודה אשר תבוצע על ידי ספק השירותים.
                <br/>
                8.1 הנך משחרר/ת בזאת את החברה, שותפיה, בעלי מניותיה, מנהליה, עובדיה, ספקי שירותים מטעמה ו/או גורמים אחרים הפועלים עבורה, מכל אחריות שתקום, ככל
                שתקום, בגין כל פעולה, טענה, תביעה, ו/או דרישה בקשר להפסדים, נזקים,
                <br/>
                ו/או הוצאות הנובעות מ- ו/או הקשורות לפעולותיהם או מחדליהם של ספקי
            </p>
            <p>
                השירותים ובקשר להסכם שנכרת בינך לבין ספק שירותים מסוים. 8.1 כל שימוש באפליקציה על כל הכרוך בכך הינם על אחריותך בלבד. משתמשי האפליקציה ו/או צד
                שלישי כלשהו, ישתמשו במידע המוצג באפליקציה וכן כל
                <br/>
                תוכן, מידע, פרסומות, מוצרים, שירותים, המלצות, עמדות, וכן כל הפניה לרבות המידע המוצג שם ייעשה על פי שיקול דעתם הבלעדי של המשתמש ועל אחריותו
                <br/>
                הבלעדית. ההחלטה להתקשר או להזמין ספק שירותים כלשהו הנה לפי שיקול
            </p>
            <p>
                דעתך הבלעדי ואתה תשא בכל האחריות לכל תוצאת התקשרות. 8.1 החברה ו/או בעלי החברה ו/או נושאי המשרה בה ו/או צדדים שלישיים המפעילים שירות כלשהו אינם
                אחראים באופן כלשהו, אם במישרין ואם בעקיפין
                <br/>
                לעצם שימושך באפליקציה ו/או לכל תוצאה אשר תגרם לך ו/או לצד שלישי
            </p>
            <p>
                כלשהו כתוצאה מהאמור או הסתמכות על כל מידע המוצג באפליקציה.
            </p>
        </div>
    </div>
</div>
<div title="Page 6">
    <div>
        <div>
            <p>
                8.4 מבלי לגרוע מהאמור לעיל, יודגש כי החברה ו/או מי מטעמה ו/או צדדים שלישיים המפעילים שירות כלשהו אינם אחראים במישרין או בעקיפין לטעויות
                <br/>
                ו/או אי-דיוקים בתכנים המופיעים באתר; כל פגיעה ו/או נזק מכל סוג שהוא לגוף
                <br/>
                ו/או לרכוש אשר נגרמו כתוצאה משימוש באפליקציה או אחד משירותיה; אבדן או נזק שייגרמו לתכנים המועלים לאפליקציה לרבות מחיקה ו/או שינוי שלהם;
            </p>
            <p>
                פגיעה ו/או נזק שנגרמו כתוצאה מחדירה לא מורשית לשרתים המאובטחים של האתר המכילים את הפרטים האישיים והסודיים של המשתמשים ו/או פרטים אחרים; הפרעה,
                תקלה ו/או הפסקה בפעילות האפליקציה ובהתאם כל הפסקה בהעברת מידע/תוכן לאפליקציה או ממנה; פגיעה ו/או נזק שנגרמו כתוצאה מוירוס, רוגלה, סוס טרויאני
                ו/או כל תוכנה זדונית אחרת שתהיה מצויה באפליקציה ו/או תפעל ממנה ו/או תועבר ממנה ללא ידיעת מנהליה; פגיעה ו/או נזק ו/או שיבוש ו/או אבדן שייגרמו
                כתוצאה משימוש באיזה מתכני האתר ו/או
            </p>
            <p>
                השירותים המצויים באתר.
            </p>
            <p>
                9. תשלום וגישה לרשת ומכשירים
            </p>
            <p>
                7.1 אתה אחראי לרכוש גישה לרשת הנתונים הדרושה לשימוש באפליקציה. תעריפי ועמלות העברת נתונים וההודעות ברשת התקשורת הסלולארית שאליה אתה
                <br/>
                מחובר עשויים לחול על הכניסה והשימוש בשירותים ממכשיר המחובר לרשת
                <br/>
                האינטרנט, ואתה תישא בתעריפים ועמלות אלה. אתה אחראי לרכוש את החומרה או המכשירים הדרושים ולעדכונם בהתאם כדי להיכנס לשירותים
            </p>
            <p>
                וליישומים ולהשתמש בהם ולכל עדכון שלהם. 7.1 החברה אינה ערבה לכך שהשירותים יהיו ניתנים להפעלה באמצעות כל חומרה
            </p>
            <p>
                או מכשיר ספציפיים. השירותים עשויים להיות מושפעים מתקלות ועיכובים שיהיו חלק בלתי נפרד מהשימוש ברשת האינטרנט ובתקשורת סלולרית.
            </p>
            <p>
                11. פיצוי ושיפוי
            </p>
            <p>
                17.1 הנך מוותר בזאת על כל תביעה ו/או טענה ו/או דרישה כלפי מנהלי האתר ו/או מי מטעמם ו/או צדדים שלישיים המפעילים שירות כלשהו הקשור לאפליקציה בגין
                כל תוצאה שתגרם לך ו/או לצד שלישי כלשהו כתוצאה משימושך באפליקציה
                <br/>
                ובכלל זה ומבלי לגרוע מכלליות האמור בגין כל נזק ו/או פגיעה ו/או הוצאה ו/או הפסד ו/או אבדן ו/או כל דבר אחר אשר ייגרם לך ו/או לצד שלישי כלשהו
                כתוצאה מהשימוש באפליקציה ו/או באיזה מהתכנים הכלולים בה ו/או מהפרתך ו/או הפרתו של צד שלישי כלשהו איזה מתנאי השימוש ו/או כתוצאה מהפרתך
            </p>
            <p>
                ו/או הפרת של זכויות כלשהן על ידי צד שלישי כלשהו ובכלל זה העלאת תכנים לאתר ו/או כתוצאה מהסתמכותך או הסתמכותו של צד שלישי על תכני האפליקציה ו/או
                כל מידע אחר המצוי באפליקציה.
            </p>
            <p>
                17.1 הנך מתחייב בזאת באופן בלתי חוזר לשפות את החברה ו/או מי מטעמה בגין כל חבות ו/או נזק ו/או הוצאה (לרבות הוצאות משפטיות ושכר טרחת עורך דין)
                ו/או הפסד שייגרמו להם כתוצאה מתביעתך ו/או תביעתו של צד שלישי כנגד החברה
                <br/>
                ו/או מי מטעמה בקשר עם כל אחד מהמקרים ו/או האירועים המפורטים לעיל. אין בשיפוי כאמור כדי לגרוע מהסעדים העומדים לרשות החברה ו/או מי מטעמה
            </p>
            <p>
                לפי כל דין.
            </p>
            <p>
                11. הגנה על פרטיות
            </p>
            <p>
                11.1 הנך אחראי באופן מלא לכל פעילות המתבצעת בחשבונך ולחברה לא תהיה כל אחריות לפעולות המבוצעות על ידך תוך שימוש באפליקציה.
            </p>
            <p>
                11.1 המשך השימוש שלך באפליקציה ו/או בחשבון והסכמתך לתנאי השימוש ולמדיניות הפרטיות מהווים הסכמה לקבלת דברי פרסומת בהתאם להוראות סעיף 17א לחוק
                התקשורת (בזק ושירותים), התשמ"ב-1781. בכפוף להוראות
            </p>
        </div>
    </div>
</div>
<div title="Page 7">
    <div>
        <div>
            <p>
                הדין, תוכל לבחור בכל עת לחדול מלקבל הודעות פרסומת כאמור על ידי מחיקת פרטייך מרשימת הדיוור של האפליקציה, זאת באמצעות משלוח בקשה אקטיבית להסרה
                מרשימת הדיוור באמצעות הודעת דואר אלקטרוני או לאפליקציה.
            </p>
            <p>
                11.1 במסגרת השימוש באפליקציה עשוי להיות שימוש בשירות הודעות בדחיפה (הודעות "Push"). הודעות אלה יעדכנו אותך אודות מוצרים ושירותים שאתה עשוי
                למצוא בהם עניין, ידוע לך שהודעות אלה עשויות לכלול מסרים שנחשבים
                <br/>
                "דברי פרסומת". הנך רשאי לבטל או לעדכן את האפשרות לקבל את הודעות אלה
            </p>
            <p>
                באמצעות שינוי הגדרות המכשיר הנייד שברשותך.
            </p>
            <p>
                12. זכויות יוצרים וקניין רוחני
            </p>
            <p>
                11.1 אין בתנאים אלה, ואף לא בשימושך בשירותים, כדי להעביר לך כל זכות או כדי להקנות לך זכויות כלשהן. אסורה כל פגיעה בכל דרך שהיא בזכויות יוצרים,
                סימני מסחר, או כל זכות קניינית אחרת אשר מצויות באתר זה ו/או אשר מוקנות
            </p>
            <p>
                לחברה.
                <br/>
                11.1 האפליקציה וכל השירותים המוצעים מהווים, ויהוו בעתיד, רכושה הבלעדי של
            </p>
            <p>
                החברה. כל התכנים המופיעים באפליקציה, לרבות מידע, טקסט, תוכנה, מוסיקה, קול, תמונות, וידאו, גרפיקה וכל חומר אחר ו/או מידע מסחרי שהוצע לך על ידי
                השירות, הם רכושה הבלעדי של החברה ואין לראות במידע ובשירותים המסופקים על ידה באפליקציה העברת כל זכות באפליקציה ותכניה, אלא זכות
            </p>
            <p>
                מוגבלת להשתמש בה על פי תנאי השימוש.
                <br/>
                11.1 הנך מתחייב שהמידע שתקבל מהאפליקציה הנו לשימושך האישי והפרטי בלבד.
            </p>
            <p>
                בעצם שימושך באפליקציה אתה מתחייב שלא תעשה כל שימוש עסקי במידע. ידוע לך ששימוש עסקי כאמור גורם נזק לחברה ואסור על פי תנאי שימוש אלה זה ועל פי
                חוק, לכן באם תעשה שימוש כאמור אתה מתחייב לפצות את החברה על כל נזק ישיר או עקיף שייגרם כתוצאה משימוש עסקי במידע או כתוצאה
            </p>
            <p>
                מהעברתו לגורם עסקי אחר.
                <br/>
                11.1 הנך מתחייב שלא להעתיק, להפיץ, לשדר, להציג, לשכפל, לפרסם או למסור לצד
            </p>
            <p>
                שלישי כל חלק מהאפליקציה. כמו כן כל שינוי, עיבוד, העתקה, שאיבת מידע, התאמה, תרגום, מכירה, ביצוע פעולות של הנדסה חוזרת, פירוק או הרכבה מחדש של כל
                אחד מחלקי הקוד המרכיבים את האפליקציה, לרבות בסיס המידע, וכן פעולות כאלה לגבי החומרה והתוכנה אשר מצויות בשימוש עבור השירות
            </p>
            <p>
                אסורים.
                <br/>
                11.1 אסור בתכלית כל שימוש באפליקציה או חלק ממנה במסגרת של אפליקציות או
            </p>
            <p>
                אתרי אינטרנט אחרים, בין השאר על ידי הצבת האפליקציה או כל חלק ממנה במסגרת של אתר או אפליקציה אחרת (frame) או כחלק מאתר אחר (mirror) או שימוש
                בתכנים של האפליקציה (deep linking).
            </p>
            <p>
                11.4 אתה מתחייב שלא תשתמש בכל רובוט, תוכנה, או מנוע אחזור וחיפוש מידע, או בכל כלי אוטומטי או ידני אחר אשר מתוכנן לאנדקס, לאחזר ולאתר מידע באתר
                <br/>
                או כלי כאמור אשר מתוכנן לחשוף את מבנה מאגר הנתונים והקוד באתר זה.
            </p>
            <p>
                11.1 איסוף או אגירת מידע אישי על משתמשי האפליקציה וספקי השירותים לשם מטרות כלכליות או בלתי חוקיות אסורה בהחלט. כמו כן אסורה כל מכירה,
                <br/>
                הפצה או כל שימוש כלכלי במידע באתר או כל שימוש אחר באופן העלול לפגוע
            </p>
            <p>
                באדם אשר המידע רלוונטי לו.
            </p>
            <p>
                13. שונות
            </p>
            <p>
                11.1 על תנאי שימוש אלו יחולו אך ורק דיני מדינת ישראל. מקום השיפוט הבלעדי לכל עניין הנוגע להסכם ותקנון זה ולשימוש באפליקציה הינו בבתי המשפט
                <br/>
                המוסמכים באזור תל-אביב יפו.
            </p>
            <p>
                11.1 .Google Inc. ,Apple Inc, או חברות הבת הבינלאומיות והחברות הקשורות שלהן יהוו מוטבי צד ג' של הסכם זה אם הגישה שלך לשירותים תהיה באמצעות
            </p>
        </div>
    </div>
</div>
<div title="Page 8">
    <div>
        <div>
            <p>
                שימוש באפליקציות שפותחו בעבור התקנים ניידים המופעלים באמצעות Apple iOS ו-Android. מוטבי צד ג' אלה אינם צדדים להסכם זה, וגישתך לשירותים באמצעות
                התקנים אלה כפופה לתנאים שהוגדרו בתנאי השימוש הרלוונטיים של
            </p>
            <p>
                אותם מוטבים. 11.1 לשונו של ההסכם זה כתובה בלשון זכר מטעמי נוחיות בלבד ומתאימה לגברים
            </p>
        </div>
    </div>
    <div>
        <div>
            <p>
                ***
            </p>
        </div>
    </div>
    <div>
        <div>
            <p>
                ונשים כאחד.
            </p>
        </div>
    </div>
</div>

<div class="page" title="Page 1" id="section2">
<div class="layoutArea">
<div class="column">
<p>מדיניות הפרטיות משתמשי האפליקציה</p>
<p>אפליקציית "הוא כאן" ("האפליקציה") אוספת מידע עליך כאשר אתה נרשם אליה, משתמש בה, מחובר לרשת הסלולרית ו/או לרשת האינטרנטית וכן באמצעות אינטראקציות והתקשרויות אחרות שלך אתנו.</p>
<p>1. היקף ותחולה 1.1 מדיניות פרטיות זו חלה על כל משתמשי האפליקציה (למען הסר ספק - כולל ספקי</p>
<p>השירותים) ועל כל השירותים שהיא מספקת כפי שמתואר בתקנון ובסעיפיו. 1.1 משתמשי האפליקציה וספקי השירותים מתבקשים לקרוא בעיון את מדיניות פרטיות זו ללא יוצא מן הכלל. במידה שאינכם מסכימים לתוכנה ולא מקבלים אותה</p>
<p>במלואה - אין לעשות כל שימוש באפליקציה ובשירותים שהיא מספקת.</p>
<p>1.1 החברה שומרת לעצמה הזכות לשנות מדיניות זו מעת לעת. שינויים אלו יחייבו את כל משתמשי האפליקציה בהווה ובעתיד, כולל אלו שהחלו להשתמש בשירותים לפני שינויי המדיניות.</p>
<p>1.1 אם אתה משתמש בשירותים הן בתור משתמש והן בתור ספק שירות, מדיניות הפרטיות תחול במלואה על השימוש שלך באפליקציה.</p>
<p>1.1 השימוש שלך באפליקציה והסכמתך לתקנון ולמדיניות הפרטיות זו מהווים הסכמה לקבלת דברי פרסומת בהתאם להוראות סעיף 10א לחוק התקשורת (בזק ושירותים), התשמ"ב-1981. בכפוף להוראות הדין, תוכל לבחור בכל עת לחדול מלקבל הודעות פרסומת כאמור באמצעות משלוח בקשה להסרה מרשימת הדיוור באמצעות הודעת</p>
<p>דואר אלקטרוני. 1. הרשאות פלטפורמה</p>
<p>בפלטפורמות הסלולריות (iOS ,Android) (להלן: "הפלטפורמה"), מוגדרים סוגים מסוימים של נתוני מכשיר שאליהם אפליקציות לא יכולות לגשת ללא הסכמתך. לפלטפורמות אלה יש מערכות הרשאה שונות לקבלת הסכמתך. הפלטפורמות הייעודיות יתריעו בפנייך בפעם הראשונה בה תשתמש באפליקציה ויודיעו לך על ההרשאות שהאפליקציה מבקשת לפני שימושך הראשון באפליקציה, עליך לאשר את ההרשאות המבוקשות על ידי הפלטפורמה בה אתה משתמש ושימושך הראשון באפליקציה יהווה</p>
<p>הסכמתך.</p>
<p>1. איסוף מידע 1.1 אנחנו אוספים את המידע שאתה מספק לנו באופן ישיר או עקיף באמצעות שימוש</p>
<p>באפליקציה ו/או יצירת קשר עם החברה. 1.1 כאשר אתה משתמש באפליקציה ובשירותים שהיא מספקת, אנו אוספים עליך מידע</p>
<p>ושומרים אותו במאגרי החברה, מידע זה יכלול בין היתר מידע בקטגוריות הבאות: מידע על מיקום: כאשר אתה מבצע חיפוש עבור בעלי מקצוע באזורך, האפליקציה מאכנת את מיקומך באמצעות התקן ה-GPS במכשירך או באמצעות הגדרת אזור ידנית במידה והתקן ה-GPS אינו זמין, האפליקציה עשויה לאכן את מיקומך המדויק של מכשירך באמצעות כתובת ה-IP. בעת התקנת האפליקציה תידרש לאשר את השימוש באמצעות מערכת ההרשאות המשמשת את הפלטפורמה הסלולרית שלך. האפליקציה עשויה לאסוף את המיקום המדויק של מכשירך כאשר האפליקציה</p>
<p>פועלת בחזית או ברקע. פרטים על אנשי קשר: עלייך לאשר לאפליקציה לגשת לרשימת אנשי הקשר במכשירך באמצעות מערכת ההרשאות המשמשת את הפלטפורמה במכשירך. האפליקציה עשויה לגשת לשמות ולפרטי קשר מרשימת הכתובות שלך ולאחסן אותם על מנת לאפשר אינטראקציות באמצעות השירותים שמספקת האפליקציה, ולמטרות אחרות של שיתוף מידע ו/או מכירתו. מידע על עסקאות: אנו אוספים פרטים על העסקאות בהם התעניינת באמצעות האפליקציה לרבות סוג השירות, התאריך והשעה, בעלי מקצוע שהציעו את</p>
</div>
</div>
</div>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<p>שירותיהם, המרחק בין מבקש השרותים לבעלי המקצוע וכן כל פרט אחר הקשור לעסקה. במקרה ואתה ספק שרותים, אנו אוספים פרטים על העסקאות בה הצעת את שירותיך באמצעות האפליקציה לרבות סוג השירות, התאריך והשעה; וכן כל פרט</p>
<p>אחר הקשור לעסקה. מידע על שימוש והעדפות: אנו אוספים מידע בנוגע לאופן שבו אתה משתמש באפליקציה ומגיב לשירותים שלנו, בנוגע להעדפותיך ולהגדרות שנבחרו. במקרים מסוימים אנו עושים זאת באמצעות טכנולוגיות שיוצרות ושומרות מזהים ייחודיים.</p>
<p>1. מידע שנאסף ממקורות אחרים 1.1 האפליקציה עשויה לקבל מידע ממקורות אחרים ולשלב אותו עם מידע שנאסף</p>
<p>באמצעות האפליקציה. 1.1 האפליקציה תבקש ממך לקשר את חשבונך באפליקציה לחשבון ברשתות חברתיות</p>
<p>מסוימות (כגון Google+ ,Facebook), ואנו עשויים למשוך מידע או חלק ממנו מהרשת החברתית אותה קישרת.</p>
<p>1. שימוש במידע 1.1 החברה עושה מאמצים סבירים על מנת לאבטח את הפרטים האישיים שלך. יחד עם</p>
<p>זאת החברה ו/או מי מטעמה אינה נושאת באחריות בגין היחשפותם של הפרטים שלך כתוצאה מפריצה של מערכות האבטחה או חדירה בלתי מורשית למערכות האתר על ידי גופים זרים.</p>
<p>1.1 שימוש באפליקציה ועצם הזנת הפרטים האישיים שלך על ידך מהווה הסכמה מראש לחברה לפעול על פי שיקול דעתה הבלעדי באשר לשמירה ושימוש של הפרטים האישיים שלך במאגרי המידע של החברה והמנוהלים על ידה. בין השאר נשתמש</p>
<p>במידע על פי המתואר להלן:</p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>נשתמש במידע כדי לספק את השירותים שלנו ולשפר אותם לרבות אספקת מוצרים ושירותים, לפתח תכונות אפליקציה, לספק תמיכה לבעלי המקצוע ולמשתמשים ולאמת משתמשים. נשתמש במידע כדי לבצע פעולות פנימיות בין היתר מניעת שימוש לרעה בשירותים שלנו או למנוע הונאה של בעלי מקצוע ומשתמשים, פתירת בעיות תוכנה ובעיות תפעוליות, לבצע ניתוחים, בדיקות ומחקר של נתוני המשתמשים ובעלי המקצוע ולנטר את השימוש ולנתח אותו ואת מגמות הפעילות. ייתכן ונשתמש במידע כדי לשלוח או לאפשר תקשורת בינך ובין ספקי שרותים, כגון זמני הגעה משוערים, עלויות, אופי העבודה וכל מידע לפי העדפותיך בשימוש בתכונות מסוימות. באמצעות המידע שנאסוף נשלח לך מידע שעשוי לעניין אותך, לרבות מוצרים, שירותים, קידומים, חדשות ואירועים של החברה ושל חברות אחרות על פי הוראות כל דין. נשתמש במידע כדי לשפר את השירותים ולהתאים אותם אישית, לרבות תוכן, חיבורים חברתיים, הפניות ופרסומות.</p>
</div>
<div class="column">
<p>1.1.1 1.1.1</p>
<p>1.1.1 1.1.1 1.1.1</p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>6. שיתוף מידע החברה עשויה למכור ו/או לשתף ו/או למסור את המידע הנאסף אודותיך ("המידע")</p>
<p>לצדדים שלישיים כלשהם וזאת ללא הודעה מוקדמת ובין היתר:</p>
<p>6.1 החברה עשויה לשתף את המידע שלך עם בעלי מקצוע כדי לספק לך את השירותים שביקשת לרבות שמך, תמונה ומיקום.</p>
<p>6.1 החברה עשויה למכור את המידע לצדדים שלישיים לצורך קידום מכירות של הצד השלישי.</p>
<p>6.1 החברה עשויה לשתף את המידע עם הציבור הרחב, פורום ציבורי, רשתות חברתיות או שירותים אחרים שלנו.</p>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<p>6.1 החברה עשויה לשתף את המידע עם חברות בת וישויות נוספות המספקות שירותים או מבצעות עיבוד נתונים מטעמנו, או לשם מטרות לוגיסטיות אחרות.</p>
<p>6.1 החברה תשתף מידע לפי שיקול דעתנו במקרה של מיזוג, מכירה של נכסי החברה, איחוד או ארגון מחדש, מימון או רכישה של חלק מהעסק שלנו או כולו על ידי חברה אחרת או במהלך ניהול משא ומתן בגינם.</p>
<p>6.6 החברה תשתף את המידע עם ספקים, יועצים, משווקים, וספקי שירות אחרים הזקוקים לגישה למידע מסוג זה כדי לבצע עבורנו עבודות או שירותים.</p>
<p>6.6 במידה ורשות מוסמכת תבקש לקבל מידע, נשתף אותו עמה אם אנו סבורים כי החשיפה היא בהתאם לכל חוק, תקנה, צו, רישיון, הסכם פעולה, או הליך משפטי.<br /> 6.8 החברה עשויה לשתף את המידע עם נציגים של רשויות החוק, גופים ממשלתיים או</p>
<p>צדדים שלישיים אחרים, אם נסבור שפעולותיך נוגדות את הסכמי המשתמש, תנאי השימוש והמדיניות שלנו או כדי להגן על הזכויות, הקניין והבטיחות של החברה או אחרים.</p>
<p>6. שיתוף במדיה חברתית 6.1 השירותים עשויים לשלב תכונות שיתוף במדיה החברתית ובכלים אחרים,</p>
<p>המאפשרים לך לשתף פעולות שביצעת באמצעות השירותים שלנו באפליקציה ולהפך. 6.1 השימוש שלך באפליקציה מאפשר את שיתוף המידע עם הציבור ברשתות החברתיות</p>
<p>ובהתאם להגדרות שקבעת בשירות המדיה החברתית שלך. 6.1 עלייך לעיין במדיניות הפרטיות של שירותי המדיה החברתית לקבלת מידע נוסף</p>
<p>באשר לאופן שבו מנוהלים הנתונים שמשותפים באמצעותם.</p>
<p>8. ניתוח מידע ופרסום</p>
<p>8.1 ייתכן והחברה תשתמש בשירותי מדידה וניתוח של מידע על מנת להציג פרסומות מטעמנו ולנטר את הביצועים של מודעות מסוג זה והרלוונטיות שלהם לקהל המשתמשים של האפליקציה.</p>
<p>8.1 שירותים אלו משתמשים בטכנולוגיות שונות לזיהוי המכשיר שלך כאשר אתה משתמש באפליקציה ובשירותים שהיא מספקת.</p>
<p>***</p>
</div>
</div>
</div>

<div class="page" title="Page 1" id="section3">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>תנאי שימוש באפליקציה עבור ספקי השירותים</p>
<p>1. כללי 1.1 ספק שירותים יקר, אנו מזמינים אותך להירשם ללא עלות כספק שרות באפליקציה</p>
<p>"הוא כאן", אנא קרא בעיון ובקפידה את תנאי שימוש אלה. במידה ואינך מסכים לאחד או יותר מתנאי שימוש אלה - אל תירשם ואל תעשה כל שימוש בשירותי האפליקציה.</p>
<p>1.1 לתשומת לבך, מדיניות הפרטיות ותנאי השימוש הכלליים של האפליקציה הינם חלק בלתי נפרד מהסכם זה ורלוונטיים עבורך בשינויים המחייבים. אין בתנאי שימוש אלה לאיין או לבטל את אחד או יותר מסעיפי תנאי השימוש הכלליים ו/או מדיניות הפרטיות שחלים גם עליך. בהרשמתך אתה מאשר את תנאי השימוש הכלליים</p>
<p>ומדיניות הפרטיות על כל סעיפיהם בנוסף לתנאי השימוש להלן. 1.1 הופעתך כספק שרותים באפליקציה כפופה לשיקול דעתה של החברה, ואין החברה</p>
<p>חייבת לך כל הסבר באם תחליט לא לכלול אותך כספק שירותים באפליקציה. 1.1 תנאים אלה אינם יוצרים ולא יתפרשו כאילו הם יוצרים שותפות, מיזם משותף, יחסי עובד-מעביד, יחסי שליחות או יחסים בין מעניק זיכיון לבין מקבל זיכיון - בינך</p>
<p>לבין החברה. 1.1 נכון להיום, השימוש באפליקציה לספקי השירותים ולמשתמשי האפליקציה לצורך</p>
<p>אספקת שירותים, הזמנת שירותים ולצורך הרשמה אינו כרוך בתשלום. ככל שהחברה תבקש לדרוש בעתיד תשלום כלשהו בגין שימוש מסוים באפליקציה או בשירותים המסופקים באפליקציה היא שומרת לעצמה הזכות לעשות זאת, במקרה</p>
<p>כזה המשך שימושך באפליקציה יהיה כפוך להסכמתך לתנאי השימוש החדשים. 1.1 הנך מעניק לחברה הרשאה מלאה ובלתי חוזרת להשתמש ו/או להעביר ו/או לעשות כל שימוש בתוכן שלך על פי שיקול דעתה הבלעדי ולרבות, אך לא רק, בשמך, מספר הטלפון שלך, תמונתך, מיקומך הגיאוגרפי, והשירותים שהנך מספק והכל כמפורט</p>
<p>בהרחבה בתנאי השימוש הכלליים של האפליקציה. 1.1 מונחים ,מושגים או ביטויים במסמך זה שלא הוגדרו ,יפורשו על פי הגדרתם בתנאי</p>
<p>השימוש ו/או במדיניות הפרטיות של החברה.</p>
<p>2. מהות השירות</p>
<p>1.1 האפליקציה משמשת כפלטפורמה לקישור בין משתמשים לספקי שירותים. השירות מאפשר למשתמשי האפליקציה לאתר ספקי שירותים על פי שירות מבוקש ואזור גיאוגרפי. תוכל לבחור את השירותים אותם אתה נותן ובאיזה אזור גיאוגרפי ברצונך</p>
<p>להציע שירותים אלה. 1.1 השירות מאפשר לך להעלות לעמודך האישי מידע אודותיך והתחום בו אתה עוסק,</p>
<p>ולאפשר גישה לחומרים שאתה מעלה כגון חומרים כתובים, תמונות, וביקורות שקיבלת.</p>
<p>1.1 לאחר נתינת ו/או אספקת שירות כלשהו, עשוי להתקבל עליך משוב ו/או דירוג בהתאם לאופי ו/או לאופן השירות שנתת ואיכותו ובהתאם לשיקול דעתו של מקבל השירות. למען הסר ספק, אנו לא מבצעים בדיקות נאותות כלשהן, ואיננו מבצעים</p>
<p>בדיקות רקע שונות על המשובים שינתנו עליך על ידי משתמשי האפליקציה.<br /> 1.1 למען הסר ספק, האפליקציה משמשת כפלטפורמה פרסומית עבורך והחברה לא תהיה צד לכל עסקה או חוזה בינך ללקוחותיך שיצרו עמך קשר באמצעות</p>
<p>האפליקציה. 1.1 אנו לא מתחייבים על אמיתות פרטיהם של משתמשי האפליקציה. ההרשמה</p>
<p>החינמית מתבצעת על ידי הכנסת פרטים אישיים, אך אנו לא נבצע בדיקות על מנת לאמת פרטים אלו. לכן, באחריותך לבדוק עם מי אתה מבצע עסקאות - אנו לא נוכל לעזור לך בגביית כספים ולא נהיה אחראים על נזקים שיגרמו לך ו/או קריאות שווא</p>
<p>שמשתמשי האפליקציה יקראו לך. 1. סעיף המצגים</p>
</div>
</div>
</div>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<p>הנך בעל הרישיון המתאים לביצוע מתן השירותים אותם אתה מציע באפליקציה, ככל וזה דרוש על פי חוק. אתה בעל הכישורים, המיומנות והניסיון הדרושים למתן השירותים. אין לך כל מגבלה או מניעה חוקית, עסקית, חוזית או אחרת להתקשרות למתן השירותים אותה אתה מציע ו/או מספק, במלואם ובשלמותם, באמצעות האפליקציה. במסגרת מתן השירותים תמלא אחר כל הוראות הדין הרלוונטיים. כמו כן, בעת מתן השירותים לא תפר כל זכויות צד שלישי כלשהו. הנך מנהל ספרי חשבונות כדין ורשום כדין ברשויות מס הכנסה, מס ערך מוסף, וביטוח לאומי. הנך מתחייב כי כל עוד אתה מפרסם עצמך באפליקציה ולכל תקופת ההסכם תנהל ספרי חשבונות כאמור. ככל שיידרש, תקיים קשר שוטף עם החברה ותדווח להם ככל שיידרש על התקדמות ביצוע השירותים בהתאם לדרישות החברה וצרכיה מעת לעת. לבקשת החברה, תספק לחברה דוחות תקופתיים, הכוללים מידע מפורט על מתן השירותים וכל פרט סביר אחר שיידרש על ידי החברה. בשימוש באפליקציה, אתה מצהיר כי תוכן הפרסום שהעלת נכון, עדכני, מדויק ושלם. הנך מבין ומסכים כי אתה האחראי הבלעדי לתוכן שאתה מעלה, או שמשתמשים העלו בעמודך ובין היתר ביקורות, דירוגים, המלצות, תמונות, ולכל תוצאות או השלכות, במישרין ובעקיפין, של פרסום התוכן באפליקציה. הנך מצהיר כי אתה הבעלים החוקי של כל תוכן כתוב, תמונות וכל חומר אחר שהעלת לאפליקציה, וימשיכו להיות בבעלותך כל עוד אתה מפרסם אותו. מבלי לגרוע מכלליות האמור אתה מצהיר כי התוכן שהעלת אינו מפר כל זכויות קניין של צדדים שלישיים או זכויות אחרות של צדדים שלישיים לרבות מדיניות פרטיות, זכויות פרסום, זכויות יוצרים או כל זכויות קניין רוחני אחרות. הנך מודע ומאשר בזאת שאתה מעניק לחברה רישיון שימוש בלתי חוזר, ללא הגבלת זמן(כמפורט בסעיף 1 להלן) לכל תוכן שתעלה לאפליקציה , כך אנו נוכל לעשות כל שימוש בתוכן זה, ולהציגו. כל רווח שנעשה באופן ישיר או עקיף בתוכן כאמור יהיה באופן בלעדי קניינה של החברה.</p>
</div>
<div class="column">
<p>1.1.1</p>
<p>1.1.1 1.1.1</p>
<p>1.1.1 1.1.1</p>
<p>1.1.1 1.1.1 1.1.3</p>
<p>1.1.3</p>
<p>1.1.13</p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>1. אחריותך כספק השירותים 1.1 החברה הינה גורם מתווך בלבד בינך כספק שירותים לבין משתמשי האפליקציה. ככל</p>
<p>שלאחר יצירת הקשר עמך באמצעות האפליקציה, תגיע להסכם כלשהו עם אחד או יותר ממשתמשי האפליקציה - החברה אינה מעורבת, במישרין או בעקיפין, בעסקה אשר מתבצעת בינך כספק שירותים ובין משתמש באפליקציה.</p>
<p>1.1 ככל שלאחר יצירת הקשר עמך באמצעות האפליקציה, תגיע להסכם כלשהו עם אחד או יותר ממשתמשי האפליקציה, , הנך מתחייב להתייחס למשתמשי האפליקציה בכבוד, לא לגרום להם נזקים ולא לעסוק בפעילות לא חוקית, מאיימת או מטרידה.</p>
<p>1.1 הנך מצהיר כי ידוע לך שאתה אחראי באופן בלעדי לכל עסקה שתתבצע ו/או הסכם שייקשר בינך ובין משתמשי האפליקציה, והנך מודע שלא תהיה אחריות מכל סוג שהוא לחברה, שותפיה, בעלי מניותיה, מנהליה, בגין כל פעולה, טענה, תביעה, ו/או דרישה בקשר להפסדים, נזקים, ו/או הוצאות הנובעות ו/או הקשורות לפעולותיהם או מחדליהם של משתמשי האפליקציה או לחילופין שאתה בתור ספק שירות גרמת לאחד או יותר ממשתמשי האפליקציה בקשר להסכם שנכרת בינך לבין משתמש</p>
<p>מסוים. 1.1 הנך מתחייב לא לפרסם תוכן לא ראוי ו/או לא חוקי בקשר לשירותים לרבות חומר</p>
<p>משמיץ, פורנוגרפי, מגונה, מטריד, מאיים, מעליב, מרמה או לא מוסרי. במידה ויועלה חומר כאמור, תהיה חשוף לסנקציות אזרחיות ו/או פליליות על פי כל דין.</p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>1.1 הנך מתחייב בפנינו כדלהלן:</p>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<p>1.1 ספק השירותים יהיה אחראי, על חשבונו, ליצירת גיבוי לכל התוכן אותו העלה לאפליקציה.</p>
<p>1. הגבלת אחריות 1.1 החברה לא תישא באחריות לכל אובדן, נזק, עלות או הוצאה אשר עלול להיגרם לך</p>
<p>בשל השימוש שלך באפליקציה.</p>
<p>1.1 עליך האחריות על כל אינטראקציה ו/או התקשרות עם משתמשי האפליקציה באשר למתן שירותים ו/או כל נושא אחר. החברה ומנהלי האפליקציה אינה צד להתקשרויות ו/או אינטראקציות בין משתמשי האפליקציה לספקי השירותים.</p>
<p>1.1 האפליקציה מהווה מאגר מידע ומנוע חיפוש של ספקי שירותים ואינה מספקת פלטפורמה ליצירת קשר. פרטי ההתקשרות יפורסמו באפליקציה על ידי ספק השירותים על פי שיקול דעתו.</p>
<p>1.1 החברה לא תישא באחריות לכל אובדן, נזק, עלות או הוצאה אשר עלול להיגרם לך בשל העלאה של תוכן על ידך.</p>
<p>1.1 החברה לא תישא באחריות לכל אובדן, נזק, עלות או הוצאה אשר עלול להיגרם לך בשל התייחסות משתמשי האפליקציה לך ולשירותים שאתה מספק.</p>
<p>1.1 יש לציין, ייתכן ומשתמשי האפליקציה יתנו לך דירוג נמוך ו/או יעבירו עליך ביקורת שעלולה לפגוע בהכנסותיך. בשימושך באפליקציה אתה לוקח על עצמך את הסיכון הזה. החברה אינה מתחייבת, במפורש או במשתמע, להוריד או לערוך ביקורות</p>
<p>שליליות עליך ועל ספקי השירותים באופן כללי. 1.1 לחברה אין כל חובה לסנן, לערוך או לנטר את תוכן הפרסומים או המשובים</p>
<p>המתקבלים על ספקי השירותים. החברה שומרת לעצמה את הזכות לעשות זאת בהתאם לשיקול דעתה הבלעדי, וכן להסיר או לערוך כל תוכן פרסומי מהשירותים מבלי ליידע את ספקי השירותים מראש, בכל עת ומכל סיבה שנראית למנהלי</p>
<p>האפליקציה לנכון.<br /> 1.3 החברה לא תישא באחריות או בכל תוצאה אחרת בגין העלאה, פרסום, הצגה של</p>
<p>תוכן פרסומי, לכל הפסד או נזק, החברה לא תישא באחריות בגין טעות, לשון הרע, קללות או פורנוגרפיה אשר המשתמש וכל צד שלישי עלול להיחשף אליהם.</p>
<p>1.3 החברה לא תישא באחריות בגין כל שימוש בתוכן אשר נעשה על ידה או על ידי צד שלישי. כל טענה או תלונה על שימוש לרעה כזה או אחר בגין שימוש בתוכן על ידי<br /> החברה ו/או מי מטעמה יהיה באחריות ספק השירותים ו/או מי מטעמו שפרסם את</p>
<p>התוכן בשירותים</p>
<p>1. תוכן האפליקציה 1.1 כאשר אתה מעלה, מפרסם, או מאפשר גישה לתוכן, אתה מעניק לחברה רישיון בלתי</p>
<p>חוזר, בלעדי, ללא תמלוגים, ניתן להעברה ומכירה, ניתן להמחאה, עם רשות להענקת רישיונות ובעל רישיון עולמי לשימוש, ייצור מחדש, הפצה, שידור, יצירה, הצגה, הפיכה לזמין לציבור ולהציג את התוכן ו/או חלקו בכל ערוץ תקשורת או פורמט</p>
<p>מדיה עכשיו ובעתיד. 1.1 החברה רשאית להיכנס לפרופיל של כל ספק שירותים ולעשות בתוכן שבו שימוש</p>
<p>פרטי ו/או מסחרי. החברה רשאית לעשות שימוש ולפרסם כל חלק מן התוכן ללא הרשאה פרטנית או הודעה מראש, ובהתאם לשיקול דעתה הבלעדי. ספק השירותים מבין ומסכים כי הוא אינו זכאי למנוע העברה של תוכן הפרופיל שלו לכל צד שלישי.</p>
<p>1. שונות 1.1 החברה דואגת לשלומם של משתמשיה וספקי השירותים המפרסמים באפליקציה.</p>
<p>אם נוצר אצלך החשש כי משתמש או ספק שירותים אחר מתנהג באופן לא ראוי, תוקפני, אלים או מפר בצורה כלשהי את אחד או יותר מתנאי השימוש של האפליקציה אנא דווח מידית באמצעות מערכת הדיווח הייעודית באפליקציה.</p>
<p>החברה שומרת לעצמה את הזכות לפעול בהתאם לשיקול דעתה הבלעדי.</p>
</div>
</div>
</div>
<div class="page" title="Page 4">
<div class="layoutArea">
<div class="column">
<p>1.1 כל תביעה בקשר לאפליקציה או לשימוש בשירותים תהיה כפופה לחוקי מדינת ישראל. כל מחלוקת שתנבע או תהיה קשורה לשימוש שלך באפליקציה תובא לדיון בבתי המשפט המוסמכים בתל אביב, שימוש באפליקציה הינו הסכמה מראש</p>
<p>לסמכות השיפוט הייחודית והמקומית של בתי משפט אלה.</p>
</div>
</div>
</div>
</div>
</div>
</div>

  </div>

</div>
		  
		  
  </ion-content>
</ion-view>
