<ion-view view-title="{{navTitle}}">
  <ion-content>
		<div class="workingTitle">
        	זמינות בימי השבוע
        </div>
        <div class="workingLine"> </div>
        <div>
        	
            
            <div class="workingDay" ng-repeat="day in Days">
            	<div ng-class="(day.active == 1)?'workingDayText':'workingDayTextNotActive'">
                	יום {{ day.dayName }}
                </div>
                <div class="workingDayV">
                	<img ng-if = "day.active == 1" src="img/vicon.png" style="width:100%" ng-click="setActiveDay({{$index}})" />
                    <img ng-if = "day.active == 0" src="img/eicon.png" style="width:100%" ng-click="setActiveDay({{$index}})" />
                </div>
                 <div class="workingDayHours">
                 	<div ng-class="(day.active == 1)?'workingDayHoursLeft':'workingDayHoursLeftNotActive'"> {{day.startime}} </div>
                    <div class="workingDayHoursCenter"> - </div>
                    <div ng-class="(day.active == 1)?'workingDayHoursRight':'workingDayHoursLeftNotActive'" > {{day.endtime}} </div>
                </div>
            </div>
            
          
        </div>
<!--
<div class="button-bar bar-calm">
  <a class="button">Sun</a>
  <a class="button">Mon</a>
  <a class="button">Tue</a>
  <a class="button">Wed</a>
  <a class="button">Thu</a>
  <a class="button">Fri</a>
  <a class="button">Sat</a>
</div>
 -->
 
  <div align="center" style="margin-top:1110px;">
		<span ng-click="changeDay(0)"><button class="button button-large button-calm">Sun</button></span>
		<span ng-click="changeDay(1)"><button class="button button-large button-calm">Mon</button></span>
		<span ng-click="changeDay(2)"><button class="button button-large button-calm">Tue</button></span>
		
		<div class="padding"></div>
		
		<span ng-click="changeDay(3)"><button class="button button-large button-calm">Wed</button></span>
		<span ng-click="changeDay(4)"><button class="button button-large button-calm">Thu</button></span>
		<span ng-click="changeDay(5)"><button class="button button-large button-calm">Fri</button></span>
		<span ng-click="changeDay(6)"><button class="button button-large button-calm">Sat</button></span>


<div class="list" style="margin-top:10px;">

  <h1>Selected Day: {{SelectedDay}}</h1>

  <!--
   item-select
   -->
  <div class="item item-input ">
    <div class="input-label">
      Available from:
    </div>
	
  <label class="item item-input">
    <input type="text" ng-model="fields.start" placeholder="Start Time">
  </label>
  
	<!--
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
	-->
  </div>

 
  
  <div class="item item-input">
    <div class="input-label">
      Until
    </div>

  <label class="item item-input">
    <input type="text" ng-model="fields.end" placeholder="End Time">
  </label>
  
  
	<!--
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
	-->
  </div>

  <div class="item item-input">
    <div class="input-label">
      Active
    </div>

	<label class="toggle">
	   <input type="checkbox" ng-checked="fields.active">
	   <div class="track">
		 <div class="handle"></div>
	   </div>
	</label>
	  
  
	<!--
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
	-->
  </div>  

</div>

		
		<button class="button button-block button-positive" ng-click="saveDays()">
		  Save
		</button>




		
  </div>
  
  
  
  </ion-content>
</ion-view>
